header{
    text-align: center;
}
nav{
    color: white;
    background-color:#333;
}
ul{
    display: flex;
    padding: 10px;
}
li{
    margin-right: 5%;
    list-style-type: none;
}
.row{
    display: flex;
}
.column{
    width: 50%;
}